
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=1024, user-scalable=no">

  <title>File Upload Progress</title>
  <!-- Required -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.2.2/jquery.form.min.js" integrity="sha384-FzT3vTVGXqf7wRfy8k4BiyzvbNfeYjK+frTVqZeNDFl8woCbF0CYG6g2fMEFFo/i" crossorigin="anonymous"></script>
	<style>
	body { padding: 30px }
	form { display: block; margin: 20px auto; background: #eee; border-radius: 10px; padding: 15px }
	.progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; display:none;}
	.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
	.percent { position:absolute; display:inline-block; top:3px; left:48%; }
	#exceldoc{
	width:500px;
	}
	</style>  
</head>
<body>

 <h1>File Upload Progress Demo #1</h1>
 <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" id="exceldoc" name="myfile">


    <div class="progress">
        <div class="bar"></div>
        <div class="percent">0%</div>
    </div>

    <button type="button" id="submit">Upload</button>
  </form>

    <p id="file">File uploaded at: <a href="{{uploaded_file_url}}">{{uploaded_file_url}}</a></p>

  <p><a href="{% url 'home' %}">Return to home</a></p>

    <script> 
	$(document).on('click', '#submit', function() {//code it this way!
	$(".progress").show();
	var bar = $('.bar');
	var percent = $('.percent');
	var status = $('#status');
	   
	$('form').ajaxForm({
	    beforeSend: function() {
	        status.empty();
	        var percentVal = '0%';
	        bar.width(percentVal)
	        percent.html(percentVal);
	    },
	    uploadProgress: function(event, position, total, percentComplete) {
	        var percentVal = percentComplete + '%';
	        bar.width(percentVal)
	        percent.html(percentVal);
	    },
	    success: function() {
	        var percentVal = '100%';
	        bar.width(percentVal)
	        percent.html(percentVal);
	    },
	complete: function(xhr) {
	status.html(xhr.responseText);	
	}
	}).submit(); 
	});      
	</script> 
</body>
</html>